{% extends 'navbar/usernavbar.html' %}
{% block title %}
Reservation Details
{% endblock %}


{% block content %}
<div>
    <table align="center" class="table">
        <tr>
            <th>Passenger FirstName</th>
            <th>Passenger LastName</th>
            <th>Passenger Age</th>
            <th>Passenger Phno</th>
            <th>Passenger BookingStatus</th>
            <th>FlightData</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.first_name }}</td>
            <td>{{ i.last_name }}</td>
            <td>{{ i.age }}</td>
            <td>{{ i.phno }}</td>
            <td>{{ i.booking_status }}</td>
            <td>{{ i.fight_data }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}