{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlightReservation</title>
    <link href="{% static '/styles/login.css' %}" rel="stylesheet" type="text/css">
    <style>
        h1{
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 30px;
        background-color:gray;
        color:White;
        }
        div{
            padding-top:50px;
            background-image:url('static/images/flight.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>
</head>
<body>
<h1 align="center" >Login Page</h1>
<h3 align="center" style="color:red">{{ msg }}</h3>
<form action="" method="post">
    {% csrf_token %}
    <div align="center">
        <table >
        <tr>
            <td>Name</td>
            <td><input type="text" name="txtName"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="txtPswd"></td>
        </tr>
        <tr>
            <td><input type="submit" name="btnSub" value="Login"></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <a href="{% url 'reg' %}">Register</a>
            </td>
        </tr>
    </table>
    </div>

</form>
</body>
</html>